@{
    ViewBag.Title = "List Country";
}

<div class="row" ng-controller="countryController">
    <header>
        <h1 class="page-title">Sections</h1>
    </header>
    <p>

        <a href="#" class="btn btn-primary" ng-click="EditCountry()">Create</a>
    </p>
    <!-- Table -->
    <table id="tblCountry" class="table table-striped" paging-table>
        <thead>
            <tr>
                <th ng-repeat="header in headers" ng-class="selectedCls(header)" ng-click="SortChange(header)" >{{header}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="lstCountry" >
            @Html.Partial("_List")
        </tbody>
    </table>
    <div class="text-center">
        <demo-pager is-searching="isSearching" page="page" pages-count="pagesCount"></demo-pager>
    </div>

</div>
<script>

    $(document).ready(function () {
        //$('#tblCountry').dataTable();
        App.init();

        var oTable = $('#tblCountry').dataTable({
            "aLengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "iDisplayLength": 5,

            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }
            ]
        });

    });

</script>